.add {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 120vh;
}

.title-add {
  text-align: center;
  margin-top: 9rem;
}

.addd {
  width: 25%;
}

.register-form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inscription {
  text-align: center;
}

.delete {
  display: flex;
  justify-content: center;
  padding-top: 7rem;
}

.titl-delete {
  font-size: 1.5rem;
}

.supprimer {
  margin-left: 3rem;
}

.selects {
  width: 13rem;
  margin-top: 1rem;
}
