.add {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.addd {
  width: 25%;
}

.register-form {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inscription {
  text-align: center;
}
