
.home {
  margin: 0;
  background-color: #483d8b;
  height: 130vh;
}

.fuse {
  display: flex;
  justify-content: center;
}
.fusee {
  padding-top: 30px;
}

.head {
  display: flex;
  justify-content: space-evenly;
}

.marque {
  color: #ffd700;
  font-size: 3rem;
}

.loggg {
  background-color: #ffd700;
  font-size: 1rem;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  background-color: #ffd700;
}

.titleD {
  color: black;
  font-size: 2rem;
}

.texte {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.desc {
  color: white;
  font-size: 1.3rem;
  margin-top: 2rem;
}

.ajou {
  color: white;
  font-size: 2rem;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}
