* {
  margin: 0;
}

.reserver {
  background-color: black;
  width: 100%;
  height: 180vh;
}

.rectangle {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
}

.planetes {
  height: 500px;
  width: 500px;
}

.infos {
  color: white;
  width: 500px;
  height: 500px;
  background-color: gray;
}

.select {
  height: 50px;

  width: 250px;
}

.sel {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.br {
  padding-top: 7rem;
  display: flex;
  justify-content: center;
}

.imagevaisseaux {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.reservez {
  height: 50px;
  width: 200px;
}

.i {
  padding-top: 3.5rem;
  font-size: 1.5rem;
}

.vaisseau {
  height: 200px;
  width: 300px;
}

.moyen {
  padding-top: 2rem;
}
